.someClass {

}
.button {
    /*margin: 10px;*/
    /*width: 60px;*/

    /*background: #29be0b;*/
    /*color: #200bc6;*/
    /*outline: none;*/
}

.button:focus {
    /*outline: #200bc6 solid 1px;*/
}
button:active {
    /*background: #200bc6;*/
}
.active {
    /*background: #333333;*/
}
.affair {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.item {
    margin: 10px;
    width: 100px;
    font-size: 1.5rem;
    font-weight: bold;

}
.high {
    font-size: 1.5rem;
    color: #EE213D;
}
.middle {
    font-size: 1.5rem;
    color: #FAAB22;
}
.low {
    font-size: 1.5rem;
    color: #2358A5;
}