.someClass {

}
.button {
    /*margin: 10px;*/
    /*width: 60px;*/

    /*background: #29be0b;*/
    /*color: #200bc6;*/
    /*outline: none;*/
}

.button:focus {
    /*outline: #200bc6 solid 1px;*/
}
button:active {
    /*background: #200bc6;*/
}
.active {
    /*background: #333333;*/
}
.affair {
    display: flex;
}
.item {
    margin: 10px;
    width: 100px;
}
high {
    color: red;
}
.middle {
    color: orange;
}
.low {
    color: blue;
}