.link{
    text-decoration: none; /*убрать подчеркивание с сылки*/
    color: #200bc6;
    margin: 10px;
}

.link:hover{
    color: #29be0b;
}
.active {
    color: #840021;
}

.block {
    width: 21px;
    height: 21px;

    margin: 10px;

    background: #c70707;
}
.header {
    display: flex;

    width: 280px;

    transition-duration: 500ms;
    transform: translate(-240px);
}

.header:hover{
    transition-duration: 500ms;
    transform: translate(0);
}