.link{
    text-decoration: none; /*убрать подчеркивание с сылки*/
    margin: 10px;
    color: #8fa7a2;
    font-weight: 700;
    text-shadow: none;
}
.link:before{
    color: #fff;
    content: attr(data-hover);
    position: absolute;
    transition: transform 0.3s, opacity 0.3s;
}

.link:hover{
    color: #1abc9c;
}
.active {
    color: #FAAB22;
}

.block {
    width: 21px;
    height: 21px;

    margin: 10px;

    background: #c70707;
}

.header {
    display: flex;

    width: 280px;

    transition-duration: 500ms;
    transform: translate(-240px);
}

.header:hover{
    transition-duration: 500ms;
    transform: translate(0);
}